.profile-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.profile-container header {
    display: flex;
    align-items: center;
}

.profile-container header span {
    font-size: 20px;
    margin-left: 24px;
}

.profile-container header img {
    height: 64px;
}

.profile-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.profile-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.profile-container header button:hover {
    border-color: #999;
}

.profile-container h1 {
    margin-top: 80px;
    margin-bottom: 24px;
}

.profile-container .spending-division {
    margin-bottom: 100px;
}

.profile-container .spending-division ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.profile-container .spending-division ul li {
    background: #FFF;
    padding: 24px 10px 24px 24px;
    border-radius: 8px;
    position: relative;
}

.profile-container .spending-division ul li strong {
    display: block;
    margin-bottom: 5px;
    color: #41414d;
}

.profile-container .spending-division ul li strong:not(:first-child) {
    margin-top: 32px;
}

.profile-container .spending-division ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}

.profile-container .spending-division h2 {
    color: #006B3F;
    margin-left: 23px;
}

.profile-container .movements table {
    width: 100%;
    height: 65px;
    border-spacing: 0 24px;
}

.profile-container .movements th {
    color: #000000;
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
    padding: 0px 32px;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
}

.profile-container .movements th button:first-child {
    margin-left: 10px;
}

.profile-container .movements th button {
    border: 0;
    background: #F0F0F5;
    margin-left: 5px;
}

.profile-container .movements td {
    padding: 20px 32px;
    border: 0;
    background: #fff;
    font-size: 16px;
    font-weight: normal;
    color: #969cb3;
}

.profile-container .movements td:first-child {
    border-radius: 8px 0 0 8px;
}

.profile-container .movements td:last-child {
    border-radius: 0 8px 8px 0;
}

.profile-container .movements td button {
    border: 0;
    background: #FFF;
    margin: 0px 10px;
}

.profile-container .movements td button:hover {
    opacity: 0.8;
}

#search-movements {
    display: flex;
    margin-bottom: 20px;
}

.input-block {
    display: grid;
    margin-right: 20px;
}

.search_buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.input-block label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-left: 5px;
    color: #000000;
}

.input-block input {
    width: 235px;

    background: #FAFAFC;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.input-block:focus-within::after {
    height: 2px;
    background: #FAFAFC;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}

#button_filters {
    color: #FFFFFF;
    background: #006B3F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 80px;
    margin-right: 5px;
}

#cleanup_filters {
    color: #AF0A26;
    background: #F0F0F5;
    border-radius: 8px;
    width: 80px;
}

#title_finances_movements {
    margin-bottom: 50px;
}

h3 {
    margin-bottom: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    margin-left: 5px;
    text-transform: uppercase;

    color: #A8A8B3;
}

#modal-to-alert {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 45%;
    width: 35%;
    background: #F0F0F5;
    border-radius: 20px;
    margin: 0;
    top: 50%;
    transform: translate(85%, 45%);
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#modal-to-alert span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin: 45px 55px;

    color: #000000;
}

#modal-to-alert img {
    height: 80px;
}

#modal-to-alert button {
    color: #FFFFFF;
    background: #006B3F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 250px;
    height: 60px;
    transition: filter 0.2s;
    text-decoration: none;
    border: 0;
    margin: 20px 0px;
}

#modal-to-alert button:hover {
    filter: brightness(90%);
}

#modal-to-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 45%;
    width: 35%;
    background: #F0F0F5;
    border-radius: 20px;
    margin: 0;
    top: 50%;
    transform: translate(85%, 45%);
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#modal-to-confirm span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin: 45px 55px;

    color: #000000;
}

#modal-to-confirm img {
    height: 80px;
}

#modal-to-confirm button {
    color: #FFFFFF;
    background: #006B3F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 200px;
    height: 60px;
    transition: filter 0.2s;
    text-decoration: none;
    border: 0;
    margin: 20px 10px;
}

#modal-to-confirm button:hover {
    filter: brightness(90%);
}

#modal-to-confirm .cancel-modal-button {
    color: #AF0A26;
    background: #FFFFFF;
}

#modal-to-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    width: 40%;
    background: #F0F0F5;
    border-radius: 20px;
    margin: 0;
    top: 50%;
    transform: translate(70%, 15%);
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#modal-to-edit input,
#modal-to-edit select {
    margin-bottom: 20px;
}

#modal-to-edit span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin: 45px 55px;

    color: #000000;
}

#modal-to-edit img {
    height: 80px;
}

#modal-to-edit button {
    color: #FFFFFF;
    background: #006B3F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 200px;
    height: 60px;
    transition: filter 0.2s;
    text-decoration: none;
    border: 0;
    margin-right: 20px;
}

#modal-to-edit button:hover {
    filter: brightness(90%);
}

#modal-to-edit .cancel-modal-button {
    color: #FFFFFF;
    background: #AF0A26;
}